

{% extends 'emily_layout.html' %}

{% block head %}

  <style>

  .space {
    height: 50px;
  }
  .navbar-brand {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px
  }
  .form-group {
    padding: 0px;
  }
  </style>

{% endblock %}

{% block body %}

<div class="container" style="margin-bottom: 100px;">
  <div class="intro-ment">
    <h1>카카오톡 친구 "서울대학교에밀리"를 이용하세요!</h1>
    <h1>누구나 서울대학교에 대해 물어볼 수 있어요!</h1>
    <h1>에밀리를 운영하는 소수의 서울대학생들이 친절히 답해드립니다!</h1>
    <p>아래 세 그림 중 하나를 클릭 시 자동으로 이동합니다</p>
  </div>
  <div class="row">      
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image1.PNG" />
      <div><p>카톡버젼의 서울대학교 에밀리를 배워보세요</p></div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image2.PNG" />
      <div><p>서울대학교 에밀리와 친구를 맺으세요</p></div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image3.PNG" />
      <div><p>친구들에게 에밀리를 공유하세요</p></div>         
    </div>
  </div>
  <div class="intro-ment">
    지금 바로 "서울대학교에밀리"와 친구하고 1:1로 물어보세요!
  </div>
  <div class="row">
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image4.PNG" />
      <div><p>에밀리는 믿음직한 소수의 서울대학생이 운영하는 카카오톡 계정입니다</p></div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image8.PNG" />
      <div><p>에밀리는 신속하고, 친절하며, 정확한 정보를 제공합니다</p></div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image9.PNG" />
      <div><p>에밀리는 심심할 때 친구가 되어주고 필요할 때 철저히 주관적입니다</p></div>
    </div>
  </div>
  <div class="intro-ment">
    지금 바로 "서울대학교에밀리"와 친구하고 1:1로 물어보세요!
  </div>
  <div class="row">
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image4.PNG" />
      <div><p>카카오톡 '친구찾기'에서 'ID검색'을 클릭하세요</p></div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image5.PNG" />
      <div><p>입력란에 '서울대학교에밀리'를 검색하여 친구추가를 하세요</p></div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image6.PNG" />
      <div><p>바로 사용하실 수 있습니다! 참 쉽죠?</p></div>
    </div>
  </div>
  <div class="intro-ment">
    지인들과 "서울대학교에밀리"를 홍보하여 같이 써보세요!
  </div>
  <div class="row">
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image1.PNG" />
      <div><p>에밀리 프로필에서 '홈 바로가기'를 클릭하세요</p></div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image7.PNG" />
      <div><p>에밀리 홈에서 우측 상단 공유 아이콘을 선택하세요</p></div>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="/static/emily_kakao_intro_image3.PNG" />
      <div><p>공유하고 싶은 친구들을 선택하고 나면, 에밀리 소개글이 전송된답니다!</p></div>
    </div>
  </div>
</div>

{% endblock %}