{% extends 'emily_layout.html' %}

{% block body %}
  <div class="row-fluid">
    <div class="span12">
      <div class="carousel slide" id="carousel-594315">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-594315">
          </li>
          <li data-slide-to="1" data-target="#carousel-594315">
          </li>
          <li data-slide-to="2" data-target="#carousel-594315">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <a href="http://147.47.106.240">
            <img src="/static/emily_main_FAQ1.png" />
            <div class="carousel-caption">
              <h4>셔틀버스 언제 와요? ㅠㅠ</h4>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="https://www.snuco.com/html/restaurant/restaurant_menu1.asp">
            <img src="/static/emily_main_FAQ2.png" />
            <div class="carousel-caption">
              <h4>
                오늘 밥은 뭐가 좋을까?
              </h4>
            </div>
          </a>
          </div>
          <div class="item">
            <a href="#">
            <img src="/static/emily_main_FAQ3.png" />
            <div class="carousel-caption">
              <h4>
                샤로수길에 대한 모든 것!
              </h4>
            </div>
            </a>
          </div>
        </div> <a data-slide="prev" href="#carousel-594315" class="left carousel-control"></a> <a data-slide="next" href="#carousel-594315" class="right carousel-control"></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="/chatlist">
        <h4 class="subtitle">에밀리가 되어주세요!
          <span style="float: right;" class="glyphicon glyphicon-menu-right"/>
        </h4>
      </a>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">2 chats</span>
          #상담 학교 가기 싫어요...
        </li>
        <li class="list-group-item">
          <span class="badge">1 chats</span>
          #연애 연애 고수님들! 도와주세요~
        </li>
        <li class="list-group-item">
          <span class="badge">1 chats</span>
          #학식 오늘자 동원관 점심 비추합니다
        </li>
        <li class="list-group-item">
          <span class="badge">0 chats</span>
          #잡담 같이 벚꽃놀이 가실 분! 번개!
        </li>
        <li class="list-group-item">
          <span class="badge">0 chats</span>
          #연애 용기내어 소개팅 구합니다 ㅠㅠ
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="/chatlist">
        <h4 class="subtitle"> Emily's Recent Top Topics
          <span style="float: right;" class="glyphicon glyphicon-menu-right"/>
        </h4>
      </a>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">501 chats</span>
          #동아리 서울대 야구부 동아리는 어떻게 운영되고 있나요?
        </li>
        <li class="list-group-item">
          <span class="badge">750 chats</span>
          #연애 이거... 그린라이트인가요?
        </li>
        <li class="list-group-item">
          <span class="badge">5511 chats</span>
          #맛집 일식집: 무라 vs 유락
        </li>
        <li class="list-group-item">
          <span class="badge">615 chats</span>
          #학식 오늘 어디가 맛있었나요?
        </li>
        <li class="list-group-item">
          <span class="badge">58 chats</span>
          #과외 과외 주고 받아요!
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="space"/>




{% endblock %}