 
{% extends 'emily_layout.html' %}

{% block head %}
<style>

  .space {
    height: 50px;
  }
  .navbar-brand {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px
  }
  .form-group {
    padding: 0px;
  }
  .right-align {
    float: right !important;"
  }
  .bold {
    font-weight: bold;
  }
  .date {
    color: #999999;
  }
  .subtitle {
    background-color: #b364d7;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  @media screen {
    .row {
        max-width: 960px;
        margin: 0 auto;
    }
  }
  </style>
{% endblock %}
{% block body %}



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="emily_chat.html">
            <div class="row">
              <div class="col-xs-9">
                <h5 class="bold">제목 - 사용자가 수정 가능</h5> 
              </div>
                <div class="col-xs-3">
                  <span class="badge right-align">2</span>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-9">
                <p>기기에 따라 앞 몇 글자만 보이게</p>
              </div>
              <div class="col-xs-3">
                <p class="right-align date">2015.04.24</p> 
              </div>
            </div>
          </a>       
        </li>
        <li class="list-group-item">
          <a href="emily_chat.html">
            <div class="row">
              <div class="col-xs-9">
                <h5 class="bold">제목 - 사용자가 수정 가능</h5> 
              </div>
                <div class="col-xs-3">
                  <span class="badge right-align">1</span>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-9">
                <p>기기에 따라 앞 몇 글자만 보이게</p>
              </div>
              <div class="col-xs-3">
                <p class="right-align date">2015.04.24</p> 
              </div>
            </div>
          </a>       
        </li>
        <li class="list-group-item">
          <a href="emily_chat.html">
            <div class="row">
              <div class="col-xs-9">
                <h5 class="bold">제목 - 사용자가 수정 가능</h5> 
              </div>
                <div class="col-xs-3">
                  <span class="badge right-align">300+</span>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-9">
                <p>기기에 따라 앞 몇 글자만 보이게</p>
              </div>
              <div class="col-xs-3">
                <p class="right-align date">2015.04.24</p> 
              </div>
            </div>
          </a>       
        </li>
        <li class="list-group-item">
          <a href="emily_chat.html">
            <div class="row">
              <div class="col-xs-9">
                <h5 class="bold">제목 - 사용자가 수정 가능</h5> 
              </div>
                <div class="col-xs-3">
                  <span class="badge right-align">31</span>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-9">
                <p>기기에 따라 앞 몇 글자만 보이게</p>
              </div>
                <div class="col-xs-3">
                <p class="right-align date">2015.04.24</p> 
              </div>
            </div>
          </a>       
        </li>
        <li class="list-group-item">
          <a href="emily_chat.html">
            <div class="row">
              <div class="col-xs-9">
                <h5 class="bold">제목 - 사용자가 수정 가능</h5> 
              </div>
                <div class="col-xs-3">
                  <span class="badge right-align">59</span>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-9">
                <p>기기에 따라 앞 몇 글자만 보이게</p>
              </div>
              <div class="col-xs-3">
                <p class="right-align date">2015.04.24</p> 
              </div>
            </div>
          </a>       
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="space"/>

{% endblock %}