{% extends 'buddy.html' %}

{% block head %}
<style>
	
		body{
	

		text-align: center;
	}
img{
	width:23%;
}
#b4{
	width:50%;
}
	
</style>
{% endblock %}
{% block body %}


<h2>'서울버디'와 카톡 친구하기</h2>
 카카오톡 플러스친구 서울버디를 검색하고 <img src="/static/by1.jpg" alt="">
친구로 추가합니다. <img src="/static/by2.jpg" alt="">
 중요! 메시지를 최소한 하나 보내 주셔야만 저희가 연락을 드릴 수 있습니다!<img src="/static/by3.jpg" alt="">


<h2>사이트에서 회원가입하기</h2>

 <img id="b4" src="/static/by4.JPG" alt="">



<!--
<div class="row1">
	<div class="container">
		<h1>What we have</h1><br>
		<div class="col-md-4 col-xs-12">
			<i class="fa fa-users"></i><br><br>
			<h3>world-class investment research

</h3>
</div>
		<div class="col-md-4 col-xs-12">
			<i class="fa fa-pie-chart"></i> <br><br>
			<h3>low-cost portfolio management
</h3></div>
		<div class="col-md-4 col-xs-12">
			<span class="glyphicon glyphicon-phone"></span><br><br>
			<h3>mobile-first, direct distribution
</h3></div>
	</div>
</div>
<div class="row3">
	<div class="container">
		<h1>How it works</h1><br>
		<div class="col-md-6 col-xs-12">
			<i class="fa fa-code"></i>
			<h3>powerful software algorithms</h3>
			<p>Based on intelligent algorithm, client input, real-time market
			data, and proprietary forecasts, construct an optimal asset
			mix tailored to specific client needs
			</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<i class="fa fa-briefcase"></i>
			<h3>Management</h3>
			<p>Use software automation to continuously <br>manage investment
			portfolios
			</p>
		</div>
	</div>
</div>
-->



{% endblock %}