
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href='http://fonts.googleapis.com/css?family=Exo|Exo+2|Play' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link href='http://api.mobilis.co.kr/webfonts/v2/css/BM-HANNAWeb'
        rel='stylesheet' type='text/css' />



</head>

<body>


<div class="visible-xs">
	<h1><i id="ti" class="fa fa-paper-plane"></i>&nbsp;aim</h1>
</div>
<div class="container hidden-xs" id="header" >
<div class="circle" id="circle"></div>
<div class="circle"></div>

<a id="title" href="#">A I M</a>
<li><a href="">Why AIM?</a></li>
<li><a href="">SERVICES</a></li>
<li><a href="">RESOURCES</a></li>
<li><a href="">PRICING</a></li>
<li><a href="">FAQS</a></li>
<li><a href="">LOG IN</a></li>
<li><a href="">SIGN UP</a></li>
</div>


<div id="img1" class="row1 visible-xs">
		<br><br><br><br><br>최적의 포트폴리오로 수익을 만들어주는 자산관리 서비스
</div>


<div id="img" class="row1 hidden-xs">
		<div id="head"><h1>최적의 포트폴리오로<br> 수익을 만들어주는 자산관리 서비스</h1><br><a href="/aimq"><button class="btn btn-success">체험하기</button></a></div>

</div>

<div class="row1">
	<div class="container">
		<h1>What we have</h1><br>
		<div class="col-md-4 col-xs-12">
			<i class="fa fa-users"></i><br><br>
			<h3>world-class investment research

</h3>
</div>
		<div class="col-md-4 col-xs-12">
			<i class="fa fa-pie-chart"></i> <br><br>
			<h3>low-cost portfolio management
</h3></div>
		<div class="col-md-4 col-xs-12">
			<span class="glyphicon glyphicon-phone"></span><br><br>
			<h3>mobile-first, direct distribution
</h3></div>
	</div>
</div>
<div class="row3">
	<div class="container">
		<h1>How it works</h1><br>
		<div class="col-md-6 col-xs-12">
			<i class="fa fa-code"></i>
			<h3>powerful software algorithms</h3>
			<p>Based on intelligent algorithm, client input, real-time market
			data, and proprietary forecasts, construct an optimal asset
			mix tailored to specific client needs
			</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<i class="fa fa-briefcase"></i>
			<h3>Management</h3>
			<p>Use software automation to continuously <br>manage investment
			portfolios
			</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<i class="fa fa-cogs"></i>
			<h3>Execution</h3>
			<p>Implement proposed investment portfolio using proprietary
fund and broker selection methods
			</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<i class="fa fa-area-chart"></i>
			<h3>Reporting</h3>
			<p>provide real-time reporting to clients
			</p>
		</div>

	</div>	
</div>
	



<div class="row1">
	<div class="container">
		
		<div class="col-md-4">
			<i class="fa fa-file-text-o"></i><br><br>
			<p>Text may refer to:

Text (journal), an academic journal of language, discourse, and communication studies
Text (literary theory), any object that can be "read", including literature and other objects
Textbook, a manual of instruction in any branch of study
Religious text, writings which various religious traditions consider to be sacred
Written text, communication that represents language through the inscription of signs and symbols
</p>
</div>
		<div class="col-md-4">
			<i class="fa fa-check-square-o"></i> <br><br>
			<p>Text may refer to:

Text (journal), an academic journal of language, discourse, and communication studies
Text (literary theory), any object that can be "read", including literature and other objects
Textbook, a manual of instruction in any branch of study
Religious text, writings which various religious traditions consider to be sacred
Written text, communication that represents language through the inscription of signs and symbols</p></div>
		<div class="col-md-4">
			<i class="fa fa-pie-chart"></i><br><br>
			<p>Text may refer to:

Text (journal), an academic journal of language, discourse, and communication studies
Text (literary theory), any object that can be "read", including literature and other objects
Textbook, a manual of instruction in any branch of study
Religious text, writings which various religious traditions consider to be sacred
Written text, communication that represents language through the inscription of signs and symbols</p></div>
	</div>
</div>



<div id="footer">
	copyright@kimshangyup<br><br>
	<i class="fa fa-twitter"></i>&nbsp;&nbsp;
	<i class="fa fa-facebook-official"></i>&nbsp;&nbsp;
	<i class="fa fa-linkedin"></i><br><br>
</div>

</body>
</html>